<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<!-- 超时 -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<!-- log4j2配置 filter/listener -->
<!--	<listener>-->
<!--		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>-->
<!--	</listener>-->
<!--		<filter>-->
<!--			<filter-name>log4jServletFilter</filter-name>-->
<!--			<filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>-->
<!--		</filter>-->


<!--	request获取-springmvc-->
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

<!--	<filter-mapping>-->
<!--		<filter-name>log4jServletFilter</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--		<dispatcher>REQUEST</dispatcher>-->
<!--		<dispatcher>FORWARD</dispatcher>-->
<!--		<dispatcher>INCLUDE</dispatcher>-->
<!--		<dispatcher>ERROR</dispatcher>-->
<!--	</filter-mapping>-->

	<!-- 跨域访问过滤器 -->
	<filter>
		<filter-name>crossAccess</filter-name>
		<filter-class>com.j.ssm.filter.CrossAccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>crossAccess</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!--	&lt;!&ndash; 访问权限过滤器2 &ndash;&gt;-->
<!--		<filter>-->
<!--		<filter-name>routeFilter</filter-name>-->
<!--		<filter-class>com.j.filter.Loginroute</filter-class>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>routeFilter</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--	</filter-mapping>-->
</web-app>
